@model ShoppingCart

<form method="post" class="mt-4">
    <input hidden asp-for="ProductId">
    <div class="card shadow border-0">
        <div class="card-header bg-primary text-white py-4">
            <h3 class="text-center text-uppercase">@Model.Product.Title</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-md-2 offset-lg-1 mb-4">
                    <a asp-action="Index" class="btn btn-outline-primary btn-sm text-uppercase w-100">
                        <small>Back to Home</small>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4 text-center mb-3">
                    <img src="@Model.Product.ImageUrl" class="img-fluid rounded" alt="@Model.Product.Title" />
                </div>
                <div class="col-12 col-lg-7">
                    <div class="mb-3">
                        <span class="badge bg-secondary">@Model.Product.Category?.Name</span>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-secondary mb-0">List Price:</h6>
                        <del class="text-dark">@Model.Product.ListPrice.ToString("c", NepaliFormat.GetFormat())</del>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-secondary mb-0">Price:</h6>
                        <span class="text-primary fw-bold">@Model.Product.Price.ToString("c",
                            NepaliFormat.GetFormat())</span>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-secondary mb-0">Description:</h6>
                        <p class="text-muted">@Html.Raw(Model.Product.Description)</p>
                    </div>
                    <div class="mb-3">
                        <label for="count" class="form-label text-secondary">Count:</label>
                        <input asp-for="Count" id="count" type="number" value="1" class="form-control">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary w-100 py-2 text-uppercase fw-bold">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
